* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2E0249;
    color: #fff;
    height: 100vh;
  }
  
  .box {
    width: 500px;
    height: 500px;
    background-color: #A91079;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
  
  }
  
  .box h1 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  button {
    padding: 16px 20px;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    background: #A91079;
    box-shadow: 30px 30px 60px #900e67,
      -30px -30px 60px #c2128b;
  
  }
  
  input {
    border: none;
    width: 80px;
    height: 30px;
  }
  #displayValue {
    font-size: 25px;
    padding: 5px 15px;
    border: 1px solid #2E0249;
  }